<html>
<head>
<title>Weather Assistant Bot</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/style.css">
</head>
<body>
<center style="font-weight:700;font-size:2vw;">Weather Assistant Bot By Team INFINITE LOOP (Godwin,Guru Prakash,Lakshmi Narayanan)</center>
        <button><i class="fa fa-microphone"></i></button>
		<center>
          <p><font style="font-size:2vw;">Godwin said</font><br><em class="godwin" style="font-size:1.5vw;line-height:1.5;" >...</em></p>
          <p><font style="font-size:2vw;">Weather Assistant replied</font><br><em class="weather-assistant" style="font-size:1.5vw;line-height:1.5;">...</em></p>
		 </center>
  <script src="/socket.io/socket.io.js"></script>
  <script src="js/script.js"></script>
</body>
</html>