<html>
<head>
<title>Weather Assistant Bot</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/style.css">
</head>
<body>
        <button><i class="fa fa-microphone"></i></button>
		<center>
          <p>Godwin said: <em class="output-godwin">...</em></p>
          <p>Assistant replied: <em class="output-bot">...</em></p>
		 </center>
  <script src="/socket.io/socket.io.js"></script>
  <script src="js/script.js"></script>
</body>
</html>